<html>
	
	<title>Home</title>
	
	<h1>Welcome! This is Our Homepage</h1>
	
	<h2>About us</h2>
	
	<p> For one thing, when deciding which framework to use, look at the size and complexity of your project. If what you’re looking to develop is a large system packed with features and requirements, a full-stack framework might be the right choice. If your app is on the smaller and simpler side, you should probably consider a microframework.

	Second, you need to check if the framework you’re considering can scale vertically and horizontally. This is a must for projects that are to run on several servers, handle huge amounts of traffic, and support the addition of new features to enhance functionality.

	Once you’ve chosen a framework, contact a team of developers and ask them for information about the estimated cost to develop your app.

	You can find information about the type and focus of some frameworks here. A final decision, though, should come from your own understanding of your project and the tasks you want to simplify.

	However, frameworks can also stand in the way of development. When choosing a full-stack framework, you’re often signing up for a set of limitations. Of course, you can find ways to work around them, but be careful you don’t spend more time fighting for your own freedom than you would have writing an app in pure Python.
	
	</p>

	<form action="http://127.0.0.1:5000/page1">
		<input type="submit" value="NEXT PAGE" />
	</form>


</html>